.typewriter-container {
  overflow-x: auto;
}

.typewriter-content.typing-cursor .typewriter-text::after {
  content: var(--tw-cursor-char);
  margin-left: 2px;
  display: inline-block;
}
.typewriter-content.typing-cursor-fog .typewriter-text {
  position: relative;
  overflow: hidden;
  &:last-child:after {
    content: '';
    width: var(--tw-cursor-fog-width);
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--tw-cursor-fog-bg-color));
    position: absolute;
    margin-left: calc(-1 * var(--tw-cursor-fog-width));
  }
}

.typewriter-content.typing-cursor-fog .typewriter-markdown {
  :deep() {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol:last-child li,
    ul:last-child li {
      position: relative;
      overflow: hidden;
      &:last-child:after {
        content: '';
        width: var(--tw-cursor-fog-width);
        height: 1.5em;
        background: linear-gradient(90deg, transparent, var(--tw-cursor-fog-bg-color));
        position: absolute;
        margin-left: calc(-1 * var(--tw-cursor-fog-width));
      }
    }
  }
}

:deep(.md-editor) {
  --md-bk-color: transparent;
  --md-color: var(--el-text-color-primary);
  .md-editor-preview {
    --md-theme-bg-color: transparent;
    --md-theme-radius-s: font-family: var(--el-font-family);
    --md-theme-radius-m: var(--el-border-radius);
    font-family: var(--el-font-family);
    font-size: var(--el-font-size-base);
    > :last-child {
      margin-bottom: 0;
    }

    > :first-child {
      margin-top: 0;
    }
  }
  .md-editor-preview .md-editor-code .md-editor-code-head {
    z-index: initial;
  }
}
